@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #0051b5;    /* azul institucional (logo EuroCam) */
  --color-secondary: #e8cc2d;  /* dourado das estrelas */
  --color-tertiary: #003d87;   /* azul mais escuro, para contraste/hover */
  --color-fourth: #ffffff;
  --font-family: "Inter", sans-serif;
}

* {

  font-family: var(--font-family);
}